.navbar{
  background: #eedfd8
}

a{
  text-decoration: none;
  transition: all 300ms ease-in;
}

.container-jumbotron{
  margin: 0px auto;
  text-align: center;
  padding: 0;
}

.jumbotron-home{
  background: url('../img/home-image-1.jpg') no-repeat;
  background-size: cover;
  min-height: 600px;
  position: relative;
}

.jumbotron-text{
  color: #fff;
  background: rgba(0, 0, 0.25);
  padding: 1.25rem;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container-banner{
  text-align: center;
}

.card-img-top{
  display: block;
  margin: 1.25rem auto;
}

.banner{
  background: #D79774;
  padding: 1.25rem 0;
  margin:  0 0 1.25rem 0;
}

.navbar-nav{
  float: left;
}

.navbar-brand{
  width: 100%;
}

@media (min-width: 544px) {
  .jambotron-text{
    width: 50%;
  }
  .navbar-brand{
    width: auto;
  }

  .navbar-nav{
    float: right;
  }
}
